.canvas {
    width: 500px;
    height: 600px;
    background-color: #4d0f00;
    /* padding: 2px; 
        - b/c canvas div has no content, background color takes up space designated by height / width 
            - fills area up to border
        - extending padding just extends the background color here
        - think: 
            - padding pushes border
            - margin pushes outside of border (exterior content) (almost like from the next closest border)
    */
    overflow: hidden; 
    /*
        padding changed dimensions of canvas to 502 x 602, this changes to original
        - thought:
            - element's actual width or height = width / height + padding + border
            - overflow:hidden clips content to the specified size of the div (500 x 600)
                - if content exceeds the bounds of 500 x 600 we want it clipped
    */
    filter: blur(2px);
}

.frame {
    border: 50px solid black;
    width: 500px;
    padding: 50px;
    margin: 20px auto;
}

.one {
    width: 425px;
    height: 150px;
    background-color: #efb762;
    margin: 20px auto;
    box-shadow: 0 0 3px 3px #efb762;
    border-radius: 9px; 
    transform: rotate(-0.6deg); /*rotates content / box counter clockwise .6deg*/
}
  
.two {
    width: 475px;
    height: 200px;
    background-color: #8f0401;
    /*generally: 
        - good idea to have margins pushing in same direction
        - down in this case
    */
    margin: 0 auto 20px; /*margin-top | margin left / right | margin-bottom*/
    box-shadow: 0 0 3px 3px #8f0401;
    border-radius: 8px 10px; /*top left / bottom right | top right / bottom left*/
    transform: rotate(0.4deg);
  }
  
.one, .two {
    filter: blur(1px); /*adds an addition blur of 1px (on top of blur applied to canvas*/
}
  
.three {
    width: 91%;
    height: 28%;
    background-color: #b20403;
    margin: auto;
    filter: blur(2px);
    box-shadow: 0 0 5px 5px #b20403;
    border-radius: 30px 25px 60px 12px; /*top-left | top-right | bottom-right | bottom-left*/
    transform: rotate(-0.2deg);
}