/*Note: a div element without content has no height by default, so changing color doesn't do anything*/
/* Note: rgb (additive model) is used in electronics, CMYK (subtractive model) used in print */
/* Note: create secondary colors by combining primary colors 
    e.g. 
    rgb(255, 255, 0) creates yellow
    rgb(0, 255, 255) creates cyan
    rgb(255, 0, 255) creates magenta
*/
/* Note: create tertiary colors by combining primary colors with a nearby secondary color 
    e.g 
    rgb(255, 127, 0) creates orange (combining yellow w red) 
    rgb(0, 255, 127) creates spring green (combines cyan w green)
    rgb(127, 0, 255) creates violet (combining magenta w blue)

    rgb(127, 255, 0) creates chartreuse green
    rgb(0, 127, 255) creates azure
    rgb(255, 0, 127) creates rose / bright pink
*/

/*Note: 
    when complementary colors (colors on opposite side) are combined, produce gray.
    When complementary colors placed side by side, produce strong visual contrast (e.g. pure red and cyan) 
    idea:
        - can use complementary colors to draw users eye. 
            - Ex: use cyan as background (complementary) to red in the foreground (draws eye to red)
*/
/*Note: ex: #00FF00 represents pure green (0% red / blue, 100% green), remember that two hex values represent eight bits which represents all values fromn 0-255*/
/* 
    HSL colors
    - three values: must add percent sign for saturation / lightness values
        - # from 0-360 for hue (like a color wheel)
            - hue red at 0
            - hue green at 120
            - hue blue at 240 degrees
        - percentage from 0 to 100 for saturation (color intensity)
            - 0% = gray
            - 100% = pure color
        - percentage from 0 to 100 for lightness (brightness of color)
            - 0% = complete black
            - 50% = neutral
            - 100% = cimplete white
    - e.g. hsl(240, 100%, 50%) = pure blue
*/
h1 {
    text-align: center;
}
  
.container {
    background-color: rgb(255,255,255); /*can use rgb function to set color, 0 = 0% of color val (black), 255 = 100% of color value*/
    padding: 10px 0; /*padding shorthand works same as margin*/
}

.marker {
    width: 200px;
    height: 25px;
    background-color: red;
    margin: 10px auto; /*shorthand w one value: sets margin in all directions --- shorthand w two values: sets margin top/bottom to first val then left/right*/
}

.cap {
    width: 60px;
    height: 25px;
}

.sleeve {
    width: 110px;
    height: 25px;
    background-color: rgba(255, 255, 255, .5); /*Note: alpha channel sets opacity, 1.0 = complete transparent, 0.0 = complete opaque*/
    border-left: 10px double rgba(0,0,0, .75);
    /*border-left: width style color*/
}

.cap, .sleeve {
    display: inline-block;
    /*Note: even though cap width = 60px, takes up entire marker b/c it's a block element which pushed the sleeve to a new line making it not visible*/
}

.red {
    /*linear-gradient(direction, color1, color2, ..., colorN); note: direction 180deg by default (top down)*/
    /*Note: linear-gradients produce an image, reasoning behind using background property instead of background color*/
    /*percent values represent location / color stops, 
        ex: takes from 0% (starting point) to 50% (midway point) to transition from first color to second) 
        ex2: linear-gradient(90deg, #FF000 90%, #0000FF) - direction is to the right (think of cartesian plane), red takes up 90%, last 10% (90% is start) for the transition from red to blue
    */
    background: linear-gradient(180deg, rgb(122, 74, 14) 0%, rgb(245, 62, 113) 50%, rgb(162, 27, 27) 100%); /*Note: these color stops unnecessary, gradient func automatically calculates these color stops by default*/
    box-shadow: 0 0 20px 0 rgba(83, 14, 14, 0.8); 
    /* box-shadow: offsetX offsetY blurRadius spreadRadius color
        - offsetX: positive = right, negative = left
        - offsetY: positive = down, negative = above
        - blurRadius: blur level, creates softer edges and blur
        - spreadRadius: positive causes shadow to expand / grow bigger, opposite for negative values
    */
}

.green {
    background: linear-gradient(#55680D,#71F53E, #116C31);
    box-shadow: 0 0 20px 0 #3B7E20CC;
}

.blue {
    background: linear-gradient(hsl(186, 76%, 16%), hsl(223, 90%, 60%), hsl(240, 56%, 42%));
    box-shadow: 0 0 20px 0 hsla(223, 59%, 31%, .8);
}

.input-container {
    margin-right: auto;
    margin-left: auto;
    width: 20%;
    text-align: left;
    border:0;
}

label {
    display: inline-block;
    margin-top: 2px;
    margin-bottom: 2px;
}
