* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.label {
  border: 2px solid black;
  width: 270px;
  margin: 20px auto;
  padding: 0 7px;
}

header h1 {
  text-align: center;
  margin: -4px 0;
  letter-spacing: 0.15px;
}

p { /*creates space between the serving size text & 2/3cup(55g) text, affects the p element w a nested span element (flex item) */
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.divider {
  border-bottom: 1px solid #888989;
  margin: 2px 0;
}

.bold {
  font-weight: 800;
}

.large {
  height: 10px;
}

.large, .medium {
  background-color: black;
  border: 0;
}

.medium {
    height:5px;
}

.small-text {
  font-size: 0.85rem; /*.85rem is .85 of 16 (font size of html element)*/
}

.calories-info {
  display: flex;
  justify-content: space-between; /*flex items have space between them according to maing axis (horizontal)*/
  align-items: flex-end; /*align items down towards bottom of flex container (vertical)*/
}

.calories-info h2 {
  margin: 0;
}

.left-container p {
    margin: -5px -2px;
    font-size: 2em;
    font-weight: 700;
}

.calories-info span {
    margin: -7px -2px;
    font-size: 2.4em;
    font-weight: 700;
}

.right {
    justify-content: flex-end;
}

.indent {
    margin-left: 1em;
}

.double-indent {
    margin-left: 2em;
}

.daily-value p:not(.no-divider) { /*:not pseudo-selctor, selects all elements not matching given CSS rule (e.g. class= no-divider*/
    border-bottom: 1px solid #888989;
}

.note {
    font-size: 0.6rem;
    margin: 5px 0;
    padding: 0 8px;
    text-indent: -8px;
}